* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "msss";
    src: url("./assets/font/microsoftsansserif.ttf")
}


@font-face {
    font-family: "bronkoh-extra-bold";
    src: url("./assets/font/Bronkoh-ExtraBold.otf")
}

#loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #BDBEB9;
    z-index: 99;
}
.hide-spinner {
    transition: ease-in;
    transition-duration: 1s;
    opacity: 0;
    z-index: -25555;
    height: 0 !important;
    animation: hide-spinner 1s;
}

@keyframes hide-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 65465465;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}
.cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: msss;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    /* position: -webkit-sticky; */
    z-index: 2;
    flex-direction: column;
}
    .header-content {
        display: flex;
        width: 100%;
        background-color: #BDBEB9;
        padding: 21px;
        align-items: center;
    }
        .hamburger-button-cont {
            display: none;
        }

@media only screen and (max-width: 1280px) {
    .header {
        justify-content: space-between;
    }
        .header-content {
            padding: 10px;
        }
            .hamburger-button-cont {
                display: flex;
                background-color: #fff;
                width: 100%;
                padding: 10px;
                align-items: center;
                justify-content: space-between;
                position: relative;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
                .hamburger-icon {
                    object-fit: contain;
                    width: 30px;
                    display: flex;
                    height: 30px;
                }
                .hambuger-nav-cont {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    opacity: 0;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    background-color: #fff;
                    z-index: -1;
                    justify-content: center;
                    transition: ease-out;
                    transition-duration: 0.3s;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                .hambuger-nav-cont-open {
                    top: 100%;
                    z-index: 22;
                    opacity: 1;
                }
                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    display: none;
                    height: 100%;
                    z-index: 2;
                    background-color: transparent;
                }
                .bg-show {
                    display: block;
                }
}

.header-side {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
}

@media only screen and (max-width: 1280px) {
    .header-side {
        font-size: 12px;
        justify-content: flex-start;
    }
}

.header-side:nth-child(2) {
    justify-content: center;
}
@media only screen and (max-width: 1280px) {
    .header-side:nth-child(2) {
        justify-content: flex-end;
    }
}

.header-icons {
    object-fit: contain;
    width: 37px;
    height: 37px;
    cursor: pointer;
    margin: 0 22px;
}

@media only screen and (max-width: 1280px) {
    .header-icons {
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }
}

.info-cont {
    display: flex;
    width: 100%;
    padding: 74px 0;
}

@media only screen and (max-width: 1280px) {
    .info-cont {
        padding: 20px 0;
        flex-direction: column;
    }
}

.info-block {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.info-block:nth-child(2) {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 95px;
}

@media only screen and (max-width: 1280px) {
    .info-block:nth-child(2) {
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
}

.info-text-cont {
    display: flex;
    width: 100%;
    max-width: 518px;
    flex-direction: column;
}

.info-title {
    display: flex;
    width: max-content;
    font-family: bronkoh-extra-bold;
    font-weight: normal;
    padding-left: 20px;
    color: #2E2E2E;
    font-size: 90px;
    margin-bottom: 20px;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1280px) {
    .info-title {
        font-size: 30px;
        /* width: 100%; */
        align-items: center;
        padding-left: 20px;
        justify-content: center;
        margin-bottom: 0;
    }
    .hide-title {
        display: none;
    }
}

.info-company {
    color: #2E2E2E;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 50px;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1280px) {
    .info-company {
        font-size: 16px;
        padding: 0 60px;
        text-align: center;
        line-height: 20px;
        margin-bottom: 20px;
    }
}

.info-team {
    font-size: 26px;
    line-height: 29px;
    color: #2E2E2E;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1280px) {
    .info-team {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        padding: 0 50px;
        margin-bottom: 20px;
    }
}
.info-company-anime {
    transform: translateX(0);
    animation: info-text 0.6s;
}
.info-title-anime {
    transform: translateX(0);
    animation: info-text 0.8s;
}
.info-text-anime {
    transform: translateX(0);
    animation: info-text 1s;
}
@keyframes info-text {
    0% {
        transform: translateX(-50%);
    } 
    100% {
        transform: translateX(0);
    }
}
.info-navs {
    display: flex;
    margin-bottom: 56px;
    padding-left: 100px;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 1280px) {
    .info-navs {
        margin-top: 20px;
        padding-left: 0;
        display: none;
        margin-bottom: 10px;
    }
}

.info-nav {
    text-decoration: none;
    display: block;
    color: #2E2E2E;
    white-space: nowrap;
    font-size: 28px;
    margin: 0 31.5px;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .info-nav {
        font-size: 15px;
        margin: 0;
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .info-nav:hover {
        background-color: #BDBEB9;
    }
}
.worker-image-cont {
    position: relative;
}
    .info-img {
        object-fit: contain;
        width: 550px;
        height: 518px;
        transform: translateY(50%);
        transition: ease-out;
        transition-duration: 0.5s;
    }
.info-img-anime {
    animation: info-image 1s;
    transform: translateY(0);
}
@keyframes info-image {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}
@media only screen and (max-width: 1280px) {
    .info-img {
        width: 300px;
        height: 280px;
    }
}

.button-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1280px) {
    .button-cont {
        margin-bottom: 20px;
    }
}

.button {
    color: #fff;
    font-size: 36px;
    background-color: #414240;
    text-decoration: none;
    padding: 28px 57px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in;
    transition-duration: 0.2s;
}

@media only screen and (max-width: 1280px) {
    .button {
        font-size: 15px;
        padding: 10px 20px;
    }
}

.button:hover {
    transform: translateY(-3px);
    transform: scale(1.009);
    background-color: #383837;
}

.button:active {
    transform: translateY(0px);
    transform: scale(1);
    background-color: #313131;
}

.carousel-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel-title {
    align-self: center;
    font-size: 54px;
    color: #2E2E2E;
    margin-bottom: 34px;
}

@media only screen and (max-width: 1280px) {
    .carousel-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.title-margin {
    margin-top: 115px;
}

@media only screen and (max-width: 1280px) {
    .title-margin {
        margin-top: 20px;
    }
}

.carousel {
    display: flex;
    width: 100%;
    padding: 56px 200px;
    background-color: #BDBEB9;
    position: relative;
}

@media only screen and (max-width: 1280px) {
    .carousel {
        padding: 10px 0;
    }
}

.carousel-cart {
    object-fit: contain;
    width: 347px;
    height: 238px;
}

@media only screen and (max-width: 1280px) {
    .carousel-cart {
        width: 280px;
        height: 200px;
    }
}

.owl-carousel {
    position: static !important;
}

.owl-nav {
    position: absolute;
    top: 45%;
    padding: 0 160px;
    height: 1px;
    display: flex;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
    .owl-nav {
        padding: 0 10px;
    }
}

.owl-next {
    outline: none;
}

.owl-prev {
    outline: none;
}

.arrow-item {
    width: 78px;
    height: 78px;
    display: flex;
    position: relative;
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #383637;
    border-radius: 100%;
    transition: ease-in;
    transition-duration: 0.2s;
}

@media only screen and (max-width: 1280px) {
    .arrow-item {
        width: 30px;
        height: 30px;
    }
}

.arrow-item:hover {
    transform: translateY(-3px);
    transform: scale(1.08);
    background-color: #383837;
}

.arrow-item:active {
    transform: translateY(0px);
    transform: scale(1);
    background-color: #313131;
}

/* .arrow-item:nth-child(1) {
                        right: 50px;
                    }
                    .arrow-item:nth-child(1) {
                        right: -50px;
                    } */
.arrow {
    width: 30px;
    height: 49px;
    object-fit: contain;
}

@media only screen and (max-width: 1280px) {
    .arrow {
        width: 15px;
        height: 15px;
    }
}
.call-button-cont {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    /* left: 50%; */
    z-index: 22;
    margin-bottom: 50px;
    top: 80%;
}
.call-button {
    align-self: center;
    background-color: #414240;
    border-radius: 10px;
    align-items: center;
    display: flex;
    position: relative;
    /* left: -50%; */
    color: #fff;
    padding: 21px 80px 21px 36px;
    cursor: pointer;
    font-size: 40px;
    /* transition: ease-in; */
    /* transition-duration: 0.2s; */
    /* animation: call-anime 3s; */
    /* animation-iteration-count: infinite; */
}
@media only screen and (min-width: 1920px) {
    .call-button-cont  {
        top: 87%;
        /* margin-top: 150px; */
    }
}
@media only screen and (max-width: 1280px) {
    .call-button {
        font-size: 12px;
        padding: 10px;
        /* top: -10px; */
    }
}

.call-button:hover {
    transform: translateY(-3px);
    transform: scale(1.02);
    background-color: #383837;
    /* animation-play-state: paused; */
}

.call-button:active {
    transform: translateY(0px);
    transform: scale(1);
    background-color: #313131;
}

.call-icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-right: 48px;
}

@media only screen and (max-width: 1280px) {
    .call-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}
@keyframes call-anime {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.productions-cont {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.prod-list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1280px) {
    .prod-list {
        margin-top: 10px;
    }
}

.prod-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 52px;
    height: 100%;
}

@media only screen and (max-width: 1280px) {
    .prod-item {
        margin: 0 5px;
    }
}

.prod-text {
    color: #2E2E2E;
    font-size: 32px;
    text-align: center;
    margin: 19px 0;
}

@media only screen and (max-width: 1280px) {
    .prod-text {
        font-size: 14px;
    }
}

.prod-img {
    border: 13px solid #BDBEB9;
    border-radius: 10px;
    width: 400px;
    height: 270px;
    object-fit: contain;
}

@media only screen and (max-width: 1280px) {
    .prod-img {
        width: 250px;
        height: 170px;
    }
}

.projects-content {
    background-color: #BDBEB9;
    padding: 60px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 64px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 1919px) {
    .projects-content {
        /* padding: 40px 50px; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}

@media only screen and (max-width: 1280px) {
    .projects-content {
        /* padding: 20px; */
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 767px) {
    .projects-content {
        padding: 20px;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr ;
    }
}

.projects-item {
    object-fit: contain;
    width: 347px;
    height: 238px;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 0.2s;
}

@media only screen and (max-width: 1919px) {
    .projects-item {
        width: 250px;
        height: 190px;
    }
}

@media only screen and (max-width: 1280px) {
    .projects-item {
        width: 150px;
        height: 100px;
    }
}
.projects-item:hover {
    transform: scale(1.4);
}

.partner-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 68px 425px;
}

@media only screen and (max-width: 1280px) {
    .partner-content {
        display: flex;
        flex-wrap: wrap;
        /* grid-template-columns: 1fr 1fr; */
        padding: 10px;
        grid-gap: 10px;
    }
}

.partner-item {
    object-fit: contain;
    width: 250px;
    height: 250px;
}

@media only screen and (max-width: 1280px) {
    .partner-item {
        width: 100px;
        height: 100px;
    }
}

.rating-cont {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.rate-carousel {
    display: flex;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 0 231px;
}

@media only screen and (max-width: 1280px) {
    .rate-carousel {
        padding: 20px;
    }
}

.rate-cart {
    display: flex;
    background-color: #BDBEB9;
    flex-direction: column;
    padding: 14px 15px 31px 15px;
    height: 100%;
}

@media only screen and (max-width: 1280px) {
    .rate-cart {
        padding: 10px;
    }
}

.rate-img {
    object-fit: cover;
    width: 400px !important;
    height: 243px;
    border-radius: 5px;
    margin-bottom: 25px;
    align-self: center;
}

@media only screen and (max-width: 1919px) {
    .rate-img {
        width: 100% !important;
        height: 150px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1280px) {
    .rate-img {
        width: 250px;
        height: 170px;
    }
}

.rate-owner {
    font-size: 20px;
    color: #2E2E2E;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1280px) {
    .rate-owner {
        font-size: 14px;
        margin-bottom: 7px;
    }
}

.rate-text {
    line-height: 22.64px;
    color: #2E2E2E;
    font-size: 20px;
    height: 100px;
    overflow-y: scroll;
    padding-right: 3px;
}

@media only screen and (max-width: 1280px) {
    .rate-text {
        font-size: 12px;
        line-height: 14px;
        height: 60px;
    }
}

.rate-text::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

/* Track */
.rate-text::-webkit-scrollbar-track {
    background-color: #BDBEB9;
    cursor: pointer;
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 5px;
}

/* Handle */
.rate-text::-webkit-scrollbar-thumb {
    background: rgb(109, 109, 109);
    border-radius: 5px;
    cursor: pointer;
}

/* Handle on hover */
.rate-text::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 109, 109);
    cursor: pointer;
}

.contacts-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 105px;
}

@media only screen and (max-width: 1280px) {
    .contacts-cont {
        margin-bottom: 10px;
    }
}

.contacts-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 1280px) {
    .contacts-content {
        flex-direction: column;
    }
}

.contacts-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #2E2E2E;
}

@media only screen and (max-width: 1280px) {
    .contacts-item {
        margin: 0;
    }

    .contacts-item:nth-child(1) {
        align-items: center !important;
        margin-right: 0px;
        /* justify-content: flex-end; */
    }

    .contacts-item:nth-child(1) {
        /* align-items: flex-start; */
        margin-left: 0px !important;
    }

    .contacts-item:nth-child(2) {
        padding: 20px;
    }
}

.contacts-item:nth-child(1) {
    align-items: flex-end;
    margin-right: 55px;
    /* justify-content: flex-end; */
}

.contacts-item:nth-child(1) {
    /* align-items: flex-start; */
    margin-left: 55px;
}

.contacts-map {
    position: relative;
    z-index: 1;
    width: 547px;
    height: 547px;
}

@media only screen and (max-width: 1280px) {
    .contacts-map {
        width: 300px;
        height: 300px;
    }
}

.contacts-title {
    font-size: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1280px) {
    .contacts-title {
        font-size: 12px;
    }
}

.contact {
    font-size: 28px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 1280px) {
    .contact {
        font-size: 15px;
        margin-bottom: 5px;
    }
}

.social {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

@media only screen and (max-width: 1280px) {
    .social {
        margin-bottom: 5px;
    }
}

.social-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 16px;
}

@media only screen and (max-width: 1280px) {
    .social-icon {
        width: 12px;
        height: 12px;
    }
}

.social-link {
    color: #2E2E2E;
}

.end-page {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #BDBEB9;
}

@media only screen and (max-width: 1280px) {
    .end-page {
        height: 15px;
    }
}